{% extends "base.html" %}
{% load url from future %}
{% load golfstats_games %}

{% block content %}
<h1>Player {{ player.name }}</h1>
<p><a href="{% url "golfstats-players-players-edit" player.id %}">Edit {{ player.name }}</a></p>
<p><a href="{% url "golfstats-players-players-stats" player.id %}">Player stats</a></p>

<dl class="model-details">
    <dt>Created</dt>
    <dd>{{ player.created|date:"d.m.Y" }}</dd>

    <dt>PDGA number</dt>
    <dd>
        {% if player.pdga_number %}
            {{ player.pdga_number }}
        {% else %}
            N/A
        {% endif %}
    </dd>

    <dt>Games played</dt>
    <dd>{{ player.finishedgameplayer_set.count }}</dd>

    <dt>Games won</dt>
    <dd>{{ player.games_won.count }}</dd>
</dl>

<h2>Finished games</h2>
<table class="finished-games">
    <thead>
        <tr>
            <th>Game</th>
            <th>Date played</th>
            <th>Course</th>
            <th>Throws</th>
            <th>Score</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        {% player_finished_games player finishedgames %}

        {% for finished_game in finishedgames %}
        <tr>
            <td><a href="{% url "golfstats-games-games-detail" finished_game.game.id %}">{{ finished_game.game.id }}</a></td>
            <td>{{ finished_game.game.created|date:"d.m.Y" }}</td>
            <td><a href="{% url "golfstats-courses-course-detail" finished_game.game.course.id %}">{{ finished_game.game.course }}</a></td>
            <td>{{ finished_game.throws }}</td>
            <td>{{ finished_game.score_display }}</td>
            <td>{{ finished_game.order_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if player.last_game %}
    <h2>Last game</h2>
    <p>
        <a href="{% url "golfstats-games-games-detail" player.last_game.id %}">Game {{ player.last_game.id }}</a> on
        <a href="{% url "golfstats-courses-course-detail" player.last_game.course.id %}">{{ player.last_game.course }}</a>
    </p>
    {% game_standings_table player.last_game %}
{% endif %}

{% endblock %}
