
nav#nav-main {
    width: 200px;
    display: table-cell;

    p {
        font-weight: bold;
        margin-bottom: 5px;
    }

    li ul {
        margin-left: 20px;
        padding-left: 0;
        list-style-type: disc;
    }

    ul {
        list-style-type: none;
    }
}

table#scorecard {
    width: 100%;

    th {
        width: 200px;
    }

    td {
        text-align: center;
    }

    tbody td {
        padding: 5px 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.wrapper {
    display: table;
    width: 100%;
}

.content {
    display: table-cell;
}

ul.pagination {
    width: 350px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    li {
        float: left;
        list-style-type: none;
    }

    li.previous {
        width: 75px;
    }

    li.middle {
        width: 200px;
        text-align: center;
    }

    li.next {
        width: 75px;
        text-align: right;
    }
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.25em;
}

table td {
    &.par {
        background-color: white;
    }

    &.overpar {
        background-color: red;
    }

    &.belowpar {
        background-color: green;
    }
}

table.standings {

    td.hole {
        text-align: center;
    }

    th.hole {
        width: 1.5em;
    }

    th.player {
        width: 10em;
        text-align: left;
    }
}

table.players-list {
    width: 500px;
}

dl.model-details {
    width: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;

    dt {
        margin: 0;
        padding: 0;
        float: left;
        width: 30%;
        margin-bottom: 5px;
        font-weight: bold;
    }

    dd {
        margin: 0;
        padding: 0;
        width: 70%;
        float: left;
        margin-bottom: 5px;
    }

    dd ul.horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
        }
    }
}

// Dialog on play game view
ol.number-selector li {
    display: inline;
    padding: 0.5em;
    margin-left: 0.25em;
    border: 1px solid black;
    background-color: gray;
    font-size: 1.5em;

    &.active {
        background-color: lightgray;
    }
}

// Temporary clearfix gathered from http://nicolasgallagher.com/micro-clearfix-hack/
// Will remain until replaced by HTML5 boilerplate
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
