nav#nav-main {
  float: left;
  width: 200px;
}
nav#nav-main p {
  font-weight: bold;
  margin-bottom: 5px;
}
nav#nav-main li ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: disc;
}
nav#nav-main ul {
  list-style-type: none;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}
table.standings td.hole {
  text-align: center;
}
table.standings th.hole {
  width: 1.5em;
}
table.standings th.player {
  width: 10em;
  text-align: left;
}
table.standings td.par {
  background-color: white;
}
table.standings td.overpar {
  background-color: red;
}
table.standings td.belowpar {
  background-color: green;
}
