nav#nav-main {
  float: left;
  width: 200px;
}
nav#nav-main p {
  font-weight: bold;
  margin-bottom: 5px;
}
nav#nav-main li ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: disc;
}
nav#nav-main ul {
  list-style-type: none;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}
