nav#nav-main {
  width: 200px;
  display: table-cell;
}
nav#nav-main p {
  font-weight: bold;
  margin-bottom: 5px;
}
nav#nav-main li ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: disc;
}
nav#nav-main ul {
  list-style-type: none;
}
table#scorecard {
  width: 100%;
}
table#scorecard th {
  width: 200px;
}
table#scorecard td {
  text-align: center;
}
table#scorecard tbody td {
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.wrapper {
  display: table;
  width: 100%;
}
.content {
  display: table-cell;
}
ul.pagination {
  width: 350px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
ul.pagination li {
  float: left;
  list-style-type: none;
}
ul.pagination li.previous {
  width: 75px;
}
ul.pagination li.middle {
  width: 200px;
  text-align: center;
}
ul.pagination li.next {
  width: 75px;
  text-align: right;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}
table td.par {
  background-color: white;
}
table td.overpar {
  background-color: red;
}
table td.belowpar {
  background-color: green;
}
table.standings td.hole {
  text-align: center;
}
table.standings th.hole {
  width: 1.5em;
}
table.standings th.player {
  width: 10em;
  text-align: left;
}
table.players-list {
  width: 500px;
}
dl.model-details {
  width: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
dl.model-details dt {
  margin: 0;
  padding: 0;
  float: left;
  width: 30%;
  margin-bottom: 5px;
  font-weight: bold;
}
dl.model-details dd {
  margin: 0;
  padding: 0;
  width: 70%;
  float: left;
  margin-bottom: 5px;
}
dl.model-details dd ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl.model-details dd ul.horizontal li {
  display: inline;
}
ol.number-selector li {
  display: inline;
  padding: 0.5em;
  margin-left: 0.25em;
  border: 1px solid black;
  background-color: gray;
  font-size: 1.5em;
}
ol.number-selector li.active {
  background-color: lightgray;
}
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
