
nav#nav-main {
    float: left;
    width: 200px;

    p {
        font-weight: bold;
        margin-bottom: 5px;
    }

    li ul {
        margin-left: 20px;
        padding-left: 0;
        list-style-type: disc;
    }

    ul {
        list-style-type: none;
    }
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.25em;
}

table.standings {

    td.hole {
        text-align: center;
    }

    th.hole {
        width: 1.5em;
    }

    th.player {
        width: 10em;
        text-align: left;
    }

    td.par {
        background-color: white;
    }

    td.overpar {
        background-color: red;
    }

    td.belowpar {
        background-color: green;
    }
}

dl.model-details {
    width: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

dl.model-details dt {
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;
}

dl.model-details dd {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}
