{% extends "base.html" %}
{% load url from future %}
{% load golfstats_games %}

{% block content %}
<h1>Games</h1>

<p>
    <a href="{% url "golfstats-games-games-create" %}">
        Create new game
    </a>
</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Course</th>
            <th>State</th>
            <th>Winner</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{% url "golfstats-games-games-detail" game.id %}">{{ game.id }}</a></td>
                <td>{{ game.created|date:"d.m.Y" }}</td>
                <td><a href="{% url "golfstats-courses-course-detail" game.course.id %}">{{ game.course }}</a></td>
                <td>{{ game.get_state_display }}</td>
                <td>
                    {% game_winner game winner %}
                    {% if winner %}
                        <a href="{% url "golfstats-players-players-detail" winner.player.id %}">{{ winner.player }}</a>
                    {% else %}
                        Nobody
                    {% endif %}
                </td>
                <td>
                    {% if game.finishedgameplayer_set.all %}
                        {% for gameplayer in game.finishedgameplayer_set.all %}
                            <a href="{% url "golfstats-players-players-detail" gameplayer.player.id %}">{{ gameplayer.player }}</a> ({{ gameplayer.score }}),
                        {% endfor %}
                    {% else %}
                        {% for player in game.players.all %}
                            {{ player }} ({% game_player_score game player %}),
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No games available</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
