{% extends "base.html" %}
{% load url from future %}
{% load score_game_player_hole %}
{% load golfstats_games %}

{% block content %}
<h1>Game {{ game.id }}</h1>

<p><a href="{% url "golfstats-games-games-play" game.id %}">
    Play this game
</a>

<dl class="model-details">
    <dt>Course</dt>
    <dd><a href="{% url "golfstats-courses-course-detail" game.course.id %}">{{ game.course }}</a></dd>

    <dt>Created</dt>
    <dd>{{ game.created|date:"d.m.Y" }}</dd>

    <dt>State</dt>
    <dd>{{ game.get_state_display }}</dd>

    <dt>Verified</dt>
    <dd>{% if game.verified %}
        Yes
    {% else %}
        No
    {% endif %}</dd>

    <dt>Creator</dt>
    <dd><a
        href="{% url "golfstats-players-players-detail" game.creator.id %}">
        {{ game.creator }}
    </a></dd>

    <dt>Players</dt>
    <dd>
        <ul class="horizontal">
        {% for player in game.players.all %}
            {% comment %}
            TODO: Replace comma with some CSS (content:after maybe?) to avoid having it below
            {% endcomment %}
            <li><a href="{% url "golfstats-players-players-detail" player.id %}">{{ player }}</a>, </li>
        {% empty %}
            <li>There are no players in this game</li>
        {% endfor %}
        </ul>
    </dd>

    <dt>Winner</dt>
    <dd>
        {% game_winner game winner %}
        {% if winner %}
            <a href="{% url "golfstats-players-players-detail" winner.player.id %}">{{ winner.player }}</a> ({{ winner.score }}, {{ winner.throws }} throws)
        {% else %}
            Nobody
        {% endif %}
    </dd>

</dl>

<h2>Standings</h2>
{% game_standings_table game %}
{% endblock %}
