{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load score_game_player_hole %}
{% load golfstats_games %}

{% block content %}
<h1>Playing game {{ game.id }}</h1>

<p><a href="{% url "golfstats-games-games-detail" game.id %}">
    View game details
</a></p>

<section>
    <h2>Game state</h2>

    {% ifequal game.state game.STATE_CREATED %}
        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="wanted-state" value="start">
            <button type="submit" name="game-state-change">Start game</button>
        </form>
    {% endifequal %}

    {% ifequal game.state game.STATE_STARTED %}
        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="wanted-state" value="finish">
            <button type="submit" name="game-state-change">Finish game</button>
        </form>

        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="wanted-state" value="abort">
            <button type="submit" name="game-state-change">Abort game</button>
        </form>
    {% endifequal %}

    {% ifequal game.state game.STATE_FINISHED %}
        <p>Game is finished</p>
    {% endifequal %}

    {% ifequal game.state game.STATE_ABORTED %}
        <p>Game is aborted</p>
    {% endifequal %}
</section>

<section>
<h2>Scorecard</h2>

<form method="post" action=".">{% csrf_token %}
    <table id="scorecard" data-game_id="{{ game.id }}">
        <thead>
            <tr>
                <td>Holes / Players</td>

                {% for player in game.players.all %}
                    <th data-player_id="{{ player.id }}">{{ player }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for coursehole in game.course.courseholes %}
                <tr data-coursehole_id="{{ coursehole.id }}"
                    data-coursehole_par="{{ coursehole.hole.par }}">
                    <th>{{ coursehole.name }}</th>

                    {% for player in game.players.all %}
                    {% get_gamehole player.id game.id coursehole.id gamehole %}
                        <td
                            class="{% get_hole_score_css_class gamehole %}"
                            data-player_id="{{ player.id }}"
                            data-player_name="{{ player.name }}">

                            {% ifequal game.state game.STATE_STARTED %}
                            <ul>
                                <li>
                                    Throws: <input
                                        type="number" maxlength="2" size="2" value="{{ gamehole.throws }}" class="throws"
                                        name="throws-player:{{ player.id }}-game:{{ game.id }}-coursehole:{{ coursehole.id }}">

                                </li>
                                <li>
                                    OB throws: <input
                                        type="number" maxlength="2" size="2" value="{{ gamehole.ob_throws }}" class="ob_throws"
                                        name="ob_throws-player:{{ player.id }}-game:{{ game.id }}-coursehole:{{ coursehole.id }}">


                                </li>
                            <ul>
                            {% else %}
                            <p
                                data-throws="{{ gamehole.throws }}"
                                data-ob_throws="{{ gamehole.ob_throws }}">
                                {{ gamehole.throws }}
                                {% if gamehole.ob_throws %}
                                    ({{ gamehole.ob_throws }})
                                {% endif %}
                            {% endifequal %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td>Holes / Players</td>

                {% for player in game.players.all %}
                    <th>{{ player }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>

{% ifequal game.state game.STATE_STARTED %}
<button type="submit" name="score">Save</button>
{% endifequal %}
</form>

<div id="score-dialog" style="display: none">
    <dl>
        <dt>Throws</dt>
        <dd><input type="number" id="dialog-throws" maxlength="2" size="2"></dd>
        <dd>
            <ol id="throws-selector" class="number-selector">
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ol>
        </dd>

        <dt>OB throws</dt>
        <dd><input type="number" id="dialog-ob_throws" maxlength="2" size="2"></dd>
        <dd>
            <ol id="ob_throws-selector" class="number-selector">
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ol>
        </dd>
    </dl>
</div>

</section>
{% endblock %}

{% block end_of_body %}
<script defer src="{% static "game_play.js" %}"></script>
{% endblock %}
