{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Courses</h1>

<p>
    {% comment %}
    <a href="{% url "golfstats-courses-arenas-create" %}">
        Create new arena
    </a>
    {% endcomment %}
</p>

<ul>
{% for course in courses %}
    <li>
        {% comment %}
        <a href="{% url "golfstats-courses-arenas-detail" arena.id %}">
            {{ arena }}
        </a>
        {% endcomment %}
        {{ course }}
    </li>
{% empty %}
    <li>No courses available</li>
{% endfor %}
</ul>
{% endblock %}
