{% extends "base.html" %}
{% load url from future %}
{% load golfstats_games %}

{% block content %}
<h1>Course {{ course.name }}</h1>

<dl class="model-details">
    <dt>Arena</dt>
    <dd><a href="{% url "golfstats-courses-arenas-detail" course.arena.id %}">{{ course.arena }}</a></dd>

    <dt>Games played</dt>
    <dd>{{ course.game_set.count }}</dd>

    <dt>Holes</dt>
    <dd>{{ course.coursehole_set.count }}</dd>

    <dt>Par</dt>
    <dd>{{ course.get_course_par }}</dd>

    <dt>Best round</dt>
    <dd>
        {% course_best_round course best_round %}
        {% if best_round %}
            {{ best_round.throws }}
            (by <a
                href="{% url "golfstats-players-players-detail" best_round.player.id %}">
                    {{ best_round.player }}
            </a> in Game <a
                href="{% url "golfstats-games-games-detail" best_round.game.id %}">
                    {{ best_round.game.id }}
            </a>)
        {% else %}
            N/A
        {% endif %}
    </dd>


</dl>

{% if last_games %}
    <h2>Last game (<a href="{% url "golfstats-games-games-detail" last_game.id %}">#{{ last_game.id }}</a>)</h2>
    {% game_standings_table last_game %}
{% endif %}

{% if last_games %}
    <h2>Last games</h2>
    {% games_list_table last_games %}
{% endif %}


<h2>Holes</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Par</th>
        </tr>
    </thead>

    <tbody>
        {% for coursehole in course.courseholes %}
            <tr>
                <td><a
                    href="{% url "golfstats-courses-coursehole-detail" coursehole.id %}">
                    {{ coursehole.name }}
                    </a>
                </td>
                <td>{{ coursehole.hole.par }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">There aren't any holes on this course</td>
            </tr>
        {% endfor %}
    </tbody
</table>

{% endblock %}
