{% load score_game_player_hole %}
{% load golfstats_games %}
{% load url from future %}

<table class="standings">
<thead>
    <tr>
        <th class="player">Player</th>
        {% for hole in game.course.courseholes %}
        <th class="hole">{{ hole.order }}</th>
        {% endfor %}
        <th class="throws">Throws</th>
        <th class="score">Score</th>
    </tr>
</thead>
<tbody>
{% for player in game.players.all %}
<tr>
    <td>
        <a href="{% url "golfstats-players-players-detail" player.id %}">{{ player.name }}</a>
    </td>
    {% for hole in game.course.courseholes %}
    {% get_gamehole player.id game.id hole.id gamehole %}
    <td class="hole {% if gamehole %}{% get_hole_score_css_class gamehole %}{% endif %}">
        {% if gamehole %}
            {{ gamehole.throws }}
        {% endif %}
    </td>

    {% endfor %}
    <td class="throws">{% game_player_throws game player %}</td>
    <td class="score">{% game_player_score game player %}</td>
</tr>
{% endfor %}
</tbody>
</table>
